*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.whole-blog {
  text-align: center;
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  position: absolute;
  background: azure;
  color: black;
}

.blog-paragraph {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blog-title {
  margin: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blog-section-1 {
  margin: 30px;
}

.blog-images {
  width: 350px;
  height: 350px;
  margin: 30px;
}

.blog-paragraph {
  margin: 30px;
}

.whole-post {
  margin: 15px;
  width: 100px;
  height: 100px;
}

.posts-list {
  margin: 30px;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.home-logo {
  border-radius: 70px;
  padding: 40px;
  height: 40%;
  width: 30%;
}

.logo-name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 90px;
}

.termux-link {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
}

.side-menu {
  background: black;
  position: absolute;
  height: 100%;
  width: 100px;
}

.home {
  text-align: center;
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  position: absolute;
  background: azure;
  color: black;
}

.home-top-nav {
  height: 15%;
  margin: 10px;
  margin-top: 0px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  background: rgb(51, 31, 31);
}

.home-buttons {
  height: 50%;
  width: 50%;
}